<%- include('./userLayout/header') %>

    <div class="container2">
    <h1>Edit Address</h1>
    <form action='/editaddress/<%= address._id  %>' method="POST" id="addForm">
        <label for="houseName">House Name:</label>
        <input type="text" id="houseName" name="houseName"  value="<%= address.HouseName %>" required><br><br>

        <label for="street">Street:</label>
        <input type="text" id="street" name="street" value="<%= address.Street %>" required><br><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" value="<%= address.City %>" required><br><br>

        <label for="state">State:</label>
        <input type="text" id="state" name="state" value="<%= address. state %>" required><br><br>

        <label for="pinCode">Pin Code:</label>
        <input type="text" id="pinCode" name="pinCode" value="<%= address.pinCode %>"required><br><br>

        <!-- Assuming you have a user ID to associate with the address -->
        <input type="hidden" id="userId" name="id" value="<%= address._id  %>">

        <button type="submit">Submit</button>
    </form>
</div>

<%- include('./userLayout/footer') %>
